#/*****************************************************************************************************************/

#// @author         Michael Roberts

#/*****************************************************************************************************************/

# If we set NODE_ENV to development, or production, we won't have development dependencies installed! :(
# So we need mode to differentiate different environments effectivelt IMHO. 
MODE='development'

NUXT_PUBLIC_CRAWLER_API_BASE_URL='http://0.0.0.0:8080'

#/*****************************************************************************************************************/